@import "bootstrap-sprockets";
@import "bootstrap";
@import "categories";
@import "products";

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 12px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.main {
 margin-top: 60px
}

.email{
  width: 200px;
}

.password {
  width: 200px;
	margin-bottom: 10px;
}

.string {
	width: 200px;
	margin-bottom: 10px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
