.row
  .col-sm-6.col-md-4
    .img-responsive
      = image_tag("Jas.PNG")

  .col-sm-6.col-md-8
    .jumbotron
      %p We are a young company from Poland offering exeptional german sport horses for sale. To view current horses list select one of the categories below:
      - categories.each do |category|
        .btn.btn-lg.btn-default= link_to "#{category.name}", category
      - if user_signed_in?
        = link_to 'New Category', new_category_path, class: "btn btn-large btn-primary"
